[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
dataclasses-jsonschema = "*"
pyyaml = "*"
sqlalchemy = "*"
geoalchemy2 ="*"
shapely = "*"
result = "*"
structlog = "*"
convertbng = "*"
requests = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = ">=6.0"
pytest-alembic = "*"

[requires]
python_version = "3.11"
