<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}
        <title>Store {{ view_type }}</title>
    </head>
    <body>
        <header id="header">
            <div class="spacer_1"></div>
            <div class="title">
                <img src="{{ url_for('static', filename='logo/logo.svg') }}" id="tails-logo">
                <div class="toolbar-title">Stores API</div>
            </div>
            <div class="spacer"></div>
            <a class="toolbar-title" href="{{ url_for('view_stores', view_type="list") }}">Stores List</a>
            <a class="toolbar-title" href="{{ url_for('view_stores', view_type="map")}}">Stores Map</a>
            <div class="spacer_1"></div>
        </header>
        {% if errors %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for key, message in errors.items() %}
                <div class="error-message"><b>{{ key }}</b>: {{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="app-container">
            <form action="{{ url_for('filter_stores', view_type=view_type) }}" method="get">
                <div class="input-row">
                    <input
                    class="form-control rounded text-input"
                    type="text"
                    id="postcode-input"
                    placeholder="Postcode"
                    autofocus="autofocus"
                    name="postcode"
                    value="{{ postcode }}"
                    >
                    <input
                    class="form-control rounded text-input"
                    type="text"
                    id="radius-input"
                    placeholder="Radius (km)"
                    name="radius"
                    value="{{ radius if radius else radius_str }}"
                    >
                    <button class="button filter-button" type="submit">Filter</button>
                </div>
            </form>
            <br>
            {% if stores|length > 0 %}
                {% if postcode and radius and not errors %}
                    <p>Stores within radius {{ radius }}km of {{ postcode }}</p>
                {% endif %}
                <p>Stores found: {{ stores|length }}</p>
            {% endif %}
            <br>
            {% if stores %}
                {% block content %}
                {% endblock %}
            {% else %}
                <h1> No Stores Found </h1> 
            {% endif %}
        </div>    
    </body>
</html>
{% block scripts %}
{% endblock %}