{% extends "base.html" %}
{% block stylesheets %}
<script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
<link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
{% endblock %}
{% block content %}
<div id='map'></div>
{% endblock %}
{% block scripts %}
<script>
    const style = {
    "version": 8,
        "sources": {
        "osm": {
                "type": "raster",
                "tiles": ["https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"],
                "tileSize": 256,
                "attribution": "&copy; OpenStreetMap Contributors",
                "maxzoom": 19
        }
    },
    "layers": [
        {
        "id": "osm",
        "type": "raster",
        "source": "osm"
        }
    ]
    };
    var map = new maplibregl.Map({
        container: 'map',
        style: style,
        center: [3.4360, 55.3781], // starting position [lng, lat]
        zoom: 5 // starting zoom
    });
    var stores = {{ stores.stores|tojson }}
    for (const store of stores) {
        if (store.longitude && store.latitude){
            let marker = new maplibregl.Marker()
            .setLngLat([store.longitude, store.latitude])
            .setPopup(new maplibregl.Popup().setHTML("<h3>"+store.name+"</h3>"))
            .addTo(map);
        }
    }
    {% if search_location %}
        const lat_lng = {{ search_location|tojson }}
        let marker = new maplibregl.Marker({color: "red"})
            .setLngLat(lat_lng)
            .addTo(map);
    {% endif %}
    map.fitBounds({{ bbox|tojson }})
</script>
{% endblock %}